# build directories
/build.*/
/builds
/.fakeroot.*

# automatically downloaded source files
/sources/

# prebuild target binarys to provide
/target/

# mkpkg temp
mkpkg-temp

# options
/.libreelec

# private working directory
/.work/

# dedicated filesystem
/lost+found/

# symlinks...
/sources
/.work

# ccache
/.ccache/

# backup files
*.orig

# crap
.DS_Store
.directory

# ignore git repos from update scripts
tools/mkpkg/*.git

# ignore old linux configs
projects/**/*.old
build.log

# ignore (temp) backup files
.github/_backup
.github/workflows/**/*.bak
.github/copilot-instructions.md

# node_modules (avoid committing dependencies)
/.github/actions/**/node_modules
# **/node_modules

# Optionally ignore generated build output
dist/


# ignore everything in .logs
/.logs/*
# allow the directory itself so git can traverse it
!/.logs/
# allow the single script file
!/.logs/collect_ci_diagnostics.sh

#.logs/
.azure/test-get-endpoint.ps1
.azure/update-acr-endpoint.ps1
renamebranch.sh
.vscode/tasks.json
.vscode/settings.json
